body{
    overflow-x: hidden;
}
.product-testimonials {
    max-height: 240px;
}

.testimonial-image-1 {
    height: 100%;
    width:100%;
}

.testimonial-left {
    background-color: #8F8F8F;
    background-image: url(./MaskGroup2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.testimonial {
    max-height: 350px;
    border: 1px solid white;
    cursor: pointer;
}



.test-2 {
    background-image: url(./MaskGroup3@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.test-3 {
    background-image: url(./MaskGroup4@2x.png);
    background-repeat: no-repeat;
    background-size: cover
}

.test-4 {
    background-image: url(./MaskGroup5@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    margin-top:-20px;
}

.test-4{
    background-color: #CEC2A8;
}

.testimonial-left .testimonial-card-body {
    padding-top: 34%;
    width: 100%;
}

.test-4 .testimonial-card-body{
    padding-top: 10%;
    width:100%;
}

.comma-bg {
    height: 170px;
}

.comma-bg-btm {
    height: 170px;
    position: absolute;
    bottom:20px;
    right:20px;
    z-index:0;
    transform: rotate(180deg);
}
.card{
    padding-left:0;
    padding-right:0;
}
.testimonial-card-body{
    padding-top:20%;
    padding-right:0;
    background-color:#1a13139e;
    transition:all 0.5s ease;
    opacity: 0;
}

.testimonial-card-body .card-text{
    width:80%;
}

.reviews-cont::-webkit-scrollbar {
    display: none;
}

.btn-prev, .btn-next{
    width:48px;
    height:48px;
    position: absolute;
    top:calc(55% - 48px);
    z-index:2;
    background-color: #34B6DD;
    color:white;
    font-weight: 400;
    padding-top:16px;
}

.btn-prev{
    left:6%;
}
.btn-next {
    right: 5%;
}

.user-reviews{
    max-height:540px;
    text-overflow: ellipsis;
}

.user-reviews div .content{
    padding-left:10%;
    padding-right:10%;
    padding-top:1%;
    padding-bottom: 1%;
}

.user-sec{
    padding:30px;
}

.user-sec .user-name{
    margin-top:15px;
    margin-left:10px;
}

.user-name h6{
    color:#808080 !important;
}

.user-sec img{
    width:80px;
    height:80px;
}

.sm-sc {
    display: none !important;
}

.sm-testimonial {
    width: 50% !important;
    height: 160px !important;
    display: none;
}

.sm-testimonial .testimonial-card-body,
.sm-sc .testimonial .testimonial-card-body {
    padding-top: 7%;
    padding-left: 5px;
}

.sm-testimonial .testimonial-card-body a h4 {
    font-size: 16px;
}

.sm-testimonial .testimonial-card-body .card-text {
    width: 100%;
}

@media (max-width: 1200px) {
   .user-reviews {
       margin-left: 6% !important;
   }
}

@media (max-width: 576px) {

    .btn-prev,
    .btn-next {
        height: 32px;
        width:32px;
        top:calc(40% - 48px);
        padding-top:10px;
        font-size: 10px;
    }

    .btn-prev {
        left: 3%;
    }

    .btn-next {
        right: 2%;
    }
    .user-reviews {
        margin-left: 0 !important;
        width:100% !important;
        height:300px !important; 
    }

    .user-reviews div .content h4{
        font-size:18px;
     }

     .user-sec img {
         width: 40px;
         height: 40px;
     }

     .comma-bg,
     .comma-bg-btm {
         height: 70px !important;
     }

     .comma-bg-btm {
         bottom:-10px;
     }

     .user-sec{
         padding-left: 10px;
     }

     .user-sec .user-name {
         margin-top: 5px;
         margin-left: 10px;
     }

     .user-sec .user-name h5, h6{
        font-size: 14px;
    } 
}

@media (min-width: 800px) {
    .sm-sc {
        display: none !important;
    }

    .sm-sc .testimonial {
        display: none !important;
    }

    .sm-testimonial {
        display: none !important;
    }

    .lg-sc {
        display: block !important;
    }
}

@media (min-width: 600px) {
    .testimonial-left{
        width: 100% !important;
    }
    .sm-sc {
        display: flex !important;
    }
    
    .sm-sc .testimonial h5 {
        font-size: 26px !important;
    }

    .sm-sc .sm-testimonial h5{
        font-size:24px !important;
        line-height: 35px;
    }

    .sm-sc .testimonial{
        height:240px !important;
    }

    .sm-sc .testimonial .testimonial-card-body {
        padding-left:20px !important;
    }

    .sm-testimonial {
        height: 260px !important;
        display: block;
    }
    .lg-sc {
        display: none;
    }
}

@media (max-width: 992px) {
    .user-reviews{
        margin-left: 0 !important;
    }
    .btn-prev {
        left: 1%;
    }

    .btn-next {
        right: 2%;
    }
    .comma-bg-btm {
        bottom: -70px;
    }
}

@media only screen and (max-width: 600px) {
    .testimonial {
        width: 100%;
        height: 440px;
    }

    .user-reviews {
        margin-left: 0px !important;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .sm-sc{
        display: flex !important;
    }

    .sm-testimonial{
        display: block;
    }

    .comma-bg,
    .comma-bg-btm {
        height: 100px;
    }
    .lg-sc{
        display: none;
    }
    .testimonial-image-1{
        height:auto;
        background-position: center;
    }
    .testimonial-card-body{
        padding-top:10%;
        padding-left:50px;
        margin-top:0px;
        height:100%;
    }
    .testimonial-left .testimonial-card-body {
        padding-top: 60%;
        width: 100%;
    }
}

/* Product testimonial hover */
.testimonial-left:hover>.testimonial-card-body {
    opacity: 1;
}
.testimonial:hover > .testimonial-card-body{
    opacity:1;
}