body{
    overflow-x: hidden;
}
.product-testimonials {
    max-height: 240px;
}

.testimonial-image-1 {
    height: 100%;
    width:100%;
}

.testimonial-left {
    background-color: #8F8F8F;
    background-image: url(./MaskGroup2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.testimonial {
    max-height: 350px;
    border: 1px solid white;
}



.test-2 {
    background-image: url(./MaskGroup3@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.test-3 {
    background-image: url(./MaskGroup4@2x.png);
    background-repeat: no-repeat;
    background-size: contain
}

.test-4 {
    background-image: url(./MaskGroup5@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    height:auto;
    margin-top:-20px;
}

.test-4{
    background-color: #CEC2A8;
}

.testimonial-left .testimonial-card-body {
    padding-top: 40%;
    width: 100%;
}

.test-4 .testimonial-card-body{
    padding-top: 10%;
    width:100%;
}

.comma-bg {
    height: 170px;
}

.comma-bg-btm {
    height: 170px;
    float: right;
    transform: rotate(180deg) translateY(15px);
}
.card{
    padding-left:0;
    padding-right:0;
}
.testimonial-card-body{
    padding-top:20%;
    padding-right:0;
    background-color: #1a131342;
}

.testimonial-card-body .card-text{
    width:80%;
}

@media only screen and (max-width: 600px) {
    .testimonial {
        width: 100%;
        height: 440px;
    }

    .user-reviews {
        margin-left: 0px !important;
        width: 100%;
    }

    .comma-bg,
    .comma-bg-btm {
        height: 100px;
    }

    .comma-bg-btm {
        float: right;
        transform: rotate(180deg) translateY(-15px);
    }
    .test-4{
        display: none;
    }
    .testimonial-image-1{
        height:auto;
        background-position: center;
    }
    .test-3{
        margin-top:-60px;
    }
    .testimonial-card-body{
        padding-top:10%;
        padding-left:50px;
        margin-top:0px;
        height:100%;
    }
    .testimonial-left .testimonial-card-body {
        padding-top: 60%;
        width: 100%;
    }
}