.product-testimonials{
    max-height:240px;
}
.testimonial-image-1{
   height:440px;
   //transform: scalex(1.5);
}
.testimonial-left{
    background-color: #8F8F8F;
}
.testimonial{
    min-height: 225px;
    border:1px solid white
}
@media only screen and (max-width: 600px) {
    .testimonial {
        width:100%;
    }
}
